.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 1000px;
    height: 100px;
    background-color: white;
    margin-left: 150px;
    margin-top: 10px;
    padding-top: 10px; 
    padding-bottom: 20px;
    text-decoration: none;
    color: rgb(112, 55, 245);
  }

.CompanyCard-link {
  text-decoration: none;
}

h2 {
  color: rgb(112, 55, 245);
  margin-left: 500px;
}

h4 {
  margin-left: 20px;
  margin-top: 20px;
}

p {
  color: rgb(112, 55, 245);
  margin-left: 300px;
}

.description {
    margin-left: 20px;
    margin-top: -8px;
  }

.logo {
  margin-left: 20px;

}


 